body {
    background-color: #ffffff;
}
header {
    width: 95%;
    border: 1px solid #006BFF;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
header p {
    color: black;  
    font-style: italic;  
}

header img {
    width: 40%;
    border: 3px solid #d8f614;
    border-radius: 50%;
    box-shadow: 6px 6px 10px #006BFF;
}
header img:hover {
    transform: scale(.8);
    transition: all .3s ease-in-out;
}
header h1 {
    color: #ff0000;
}

button {
    display: block;
    margin: 20px auto;
    padding: 6px 25px;
    background-color: #112683;
    border: none;
{
 #products h2} { 
    color: ;
 }
 .products-card {
    padding: 20px;
    border: 1px dashed burlywood
    display: flex;
    flex-wrap: wrap;
    gap: 20px
 }
.card {
    witdh:350px;
    border: 1px solid orchid;
}

.card img {
    width: 100;
}
footer {
    width: 100;
    padding: 30px;
    text-align: center;
    background-color: aqua;
}


    



